$white: #fff;
$primary: #040C1F;
$primary2: #52AF23;

#app {
  position: relative;
  background: $primary;
  min-height: 100vh;

  main {
    margin: 20px 0;

    .card {
      background: #fff;

      .matches {
        border-radius: 10px;
        color: #1d1d1d;
        background: #f3f3f3;
        margin-bottom: 20px;

        .team-home {
          flex:1;
          display: flex;
          justify-content: space-around;
          align-items: center;
          img {
            width: 80px;
          }
        }

        .team-away {
          @extend .team-home;
        }

        .status-box {
          text-align: center;

          .score {
            font-size: 20px;
            margin-bottom: 15px;
          }

          .status {
            color: #fff;
            padding: 2px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            &.green {
              background: #0F6F37;
            }
          }
        }

        .toDetail {
          position: absolute;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.29);
          display: none;
          justify-content: center;
          align-items: center;
          border-radius: 10px;

          i {
            font-size: 40px;
            color: #fff;
          }
        }

        &:hover {
          .toDetail {
            display: flex;
          }
        }
      }

      .card-header {
        border-color: #414141;
      }
    }

    .btn-main {
      background: $primary2;
      border-color: $primary2;
    }

    .loadmore {
      color: #AEB4C7;
      font-size: 13px;
    }

  }
}


