@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  color: #F2F3F3;
}
body a {
  text-decoration: none;
}
body .pointer {
  cursor: pointer;
}
body .rlw-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
body .rlw-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
body iframe {
  max-width: 100%;
}
body img {
  border-style: none;
  max-width: 100%;
  height: auto;
}
body .bg-section {
  background-color: #0E172E;
  border-radius: 12px;
}
body .btn-blue {
  background-color: #0F4CD9 !important;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style: none;
}
body article, body aside, body figure, body footer, body header, body nav, body section, body details, body summary {
  display: block;
}
body header {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  width: 100%;
  background: #52AF23;
  box-shadow: 0 0 4px rgba(76, 76, 76, 0.47);
  height: 60px;
}
body header .navbar-brand {
  position: relative;
  height: calc(100% - 10px);
  margin: auto 0;
  float: right;
  padding: 0 10px;
  background: #fff;
  border-radius: 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  margin-right: 20px;
}
body header .navbar-brand span {
  display: block;
  text-align: center;
  color: #931800;
  font-size: 15px;
}
body header nav.nav-desktop {
  flex: 1;
  height: 100%;
  align-items: center;
  float: right;
  display: flex;
  justify-content: space-between;
}
body header nav.nav-desktop.index2 ul.link li a.active {
  color: #fff;
  background-color: #C44B3A !important;
}
body header nav.nav-desktop.index2 ul.link li a:hover {
  color: #fff;
  background-color: #C44B3A !important;
}
body header nav.nav-desktop ul.link {
  display: flex;
  margin: 0;
  padding: 0;
}
body header nav.nav-desktop ul.link li {
  list-style: none;
}
body header nav.nav-desktop ul.link li a {
  position: relative;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s;
  display: flex;
  height: 60px;
  padding: 0 15px;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 2px solid transparent;
}
body header nav.nav-desktop ul.link li a.active {
  color: #fff;
  background-color: #040C1F;
}
body header nav.nav-desktop ul.link li a:hover {
  color: #fff;
  background-color: #040C1F;
}
body header nav.nav-desktop .social-box {
  position: relative;
}
body header nav.nav-desktop .social-box ul {
  display: flex;
}
body header nav.nav-desktop .social-box ul li a {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
}
body header nav.nav-desktop .social-box ul li a i {
  font-size: 18px;
}
body header nav.nav-desktop .social-box ul li a.yt {
  background: #F61C0D;
}
body header nav.nav-desktop .social-box ul li a.fb {
  background: #4267B2;
}
body header nav.nav-desktop .social-box ul li a.tw {
  background: #55ACEE;
}
body header nav.nav-desktop .social-box ul li a.te {
  background: #389CE9;
}
body footer {
  position: relative;
  background: #0e172e;
  padding: 0;
  overflow: hidden;
  margin-top: 15px;
}
body footer .footermb {
  overflow: hidden;
  padding: 12px 0;
}
@media screen and (max-width: 767px) {
  body footer .footermb .dk {
    display: none !important;
  }
  body footer .footermb .mb {
    display: flex !important;
  }
  body footer .footermb .mb button {
    width: 100%;
    background: transparent;
  }
  body footer .footermb .mb button span {
    display: block;
    color: #fff;
  }
  body footer .footermb .mb button:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 768px) {
  body footer .footermb .dk {
    display: flex !important;
  }
  body footer .footermb .mb {
    display: none !important;
  }
}
body footer .footermb button {
  background: #eceef2;
  border: 8px;
  font-size: 13px;
}
body .text-right {
  text-align: right;
}
body .text-left {
  text-align: left;
}
body a:hover {
  color: #6DB740;
}
body .fb_reset {
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}
body .fb_iframe_widget {
  display: inline-block;
  position: relative;
}
body .fb-comments {
  background: #fff;
}
body .fb-comments, body .fb-comments > span, body .fb-comments > span > iframe {
  max-width: 100%;
  width: 100% !important;
}
body .button-navbar .bar1, body .button-navbar .bar2, body .button-navbar .bar3 {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}
body .button-navbar.active .bar1 {
  transform: rotate(-45deg) translate(-8px, 6px);
}
body .button-navbar.active .bar2 {
  opacity: 0;
}
body .button-navbar.active .bar3 {
  transform: rotate(45deg) translate(-8px, -6px);
}
body .menu-mobile {
  transition: all 0.5s;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: #52AF23;
  height: 60px;
  border-bottom: 1px solid #4a4a4a;
}
body .menu-mobile .navbar-brand {
  height: 100%;
}
body .scrollTo {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  right: 2%;
  z-index: 1;
  cursor: pointer;
  background-color: #6DB740;
  position: fixed;
  bottom: 10%;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  border-radius: 50%;
}
body .scrollTo.show {
  opacity: 1;
  visibility: visible;
  display: block;
}

#mainnav-mobi {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 60px;
  left: 0;
  z-index: 999;
  padding: 0 35px;
  overflow-y: scroll;
  box-sizing: border-box;
}
#mainnav-mobi ul {
  display: flex;
  margin: 0;
  flex-direction: column;
  padding: 0;
}
#mainnav-mobi ul li {
  list-style: none;
  border-top: 1px solid #4a4a4a;
  position: relative;
}
#mainnav-mobi ul li:first-child {
  border-top: none;
}
#mainnav-mobi ul li:last-child div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}
#mainnav-mobi ul li:last-child div a {
  margin: 20px 0;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #fff;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
}
#mainnav-mobi ul li:last-child div a i {
  font-size: 18px;
}
#mainnav-mobi ul li:last-child div a.yt {
  background: #F61C0D;
}
#mainnav-mobi ul li:last-child div a.fb {
  background: #4267B2;
}
#mainnav-mobi ul li:last-child div a.tw {
  background: #55ACEE;
}
#mainnav-mobi ul li:last-child div a.te {
  background: #389CE9;
}
#mainnav-mobi ul li a {
  position: relative;
  color: #1c1c1c;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s;
  display: flex;
  height: 60px;
  padding: 0 15px;
  align-items: center;
}
#mainnav-mobi ul li a:hover {
  background: #040C1F;
}

/*# sourceMappingURL=style.css.map */
