@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$white: #fff;
$primary: #040C1F;
$primary2: #52AF23;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  color: #F2F3F3;

  a {
    text-decoration: none;
  }

  .pointer {
    cursor: pointer;
  }

  .rlw-bold {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }

  .rlw-regular {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

  iframe {
    max-width: 100%;
  }

  img {
    border-style: none;
    max-width: 100%;
    height: auto;
  }

  .bg-section {
    background-color: #0E172E;
    border-radius: 12px;
  }

  .btn-blue {
    background-color: #0F4CD9 !important;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  article, aside, figure, footer, header, nav, section, details, summary {
    display: block;
  }

  header {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
    background: $primary2;
    box-shadow: 0 0 4px rgba(76, 76, 76, 0.47);
    height: 60px;

    .navbar-brand {
      position: relative;
      height: calc(100% - 10px);
      margin: auto 0;
      float: right;
      padding: 0 10px;
      background: #fff;
      border-radius: 8px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;
      -moz-user-select: none;
      margin-right: 20px;

      span {
        display: block;
        text-align: center;
        color: #931800;
        font-size: 15px;
      }
    }

    nav.nav-desktop {
      flex: 1;
      height: 100%;
      align-items: center;
      float: right;
      display: flex;
      justify-content: space-between;

      &.index2 {
        ul.link {
          li {
            a {
              &.active {
                color: #fff;
                background-color: #C44B3A !important;
              }

              &:hover {
                color: #fff;
                background-color: #C44B3A !important;
              }
            }
          }
        }
      }

      ul.link {
        display: flex;
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          a {
            position: relative;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            transition: .3s;
            display: flex;
            height: 60px;
            padding: 0 15px;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            white-space: nowrap;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-bottom: 2px solid transparent;

            &.active {
              color: #fff;
              background-color: #040C1F
            }

            &:hover {
              color: #fff;
              background-color: #040C1F
            }
          }
        }
      }

      .social-box {
        position: relative;

        ul {
          display: flex;

          li {
            a {
              height: 35px;
              width: 35px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 10px;
              color: #fff;
              margin-right: 5px;
              border-radius: 10px;
              cursor: pointer;

              i {
                font-size: 18px;
              }

              &.yt {
                background: #F61C0D;
              }

              &.fb {
                background: #4267B2;
              }

              &.tw {
                background: #55ACEE;
              }

              &.te {
                background: #389CE9;
              }
            }
          }
        }
      }
    }
  }

  footer {
    position: relative;
    background: #0e172e;
    padding: 0;
    overflow: hidden;
    margin-top: 15px;

    .footermb {
      overflow: hidden;
      padding: 12px 0;

      
      @media screen and (max-width: 767px) {
        .dk {
          display: none !important;
        }

        .mb {
          display: flex !important;

          button {
            width: 100%;
            background: transparent;

            span {
              display: block;
              color: #fff;
            }

            &:hover {
              background:rgba(0, 0, 0, 0.2);
            }
          }
        }
      }

      @media screen and (min-width: 768px) {
        .dk {
          display: flex !important;
        }

        .mb {
          display: none !important;
        }
      }

      button {
        background: #eceef2;
        border:8px;
        font-size: 13px;
      }
    }
  }

  .text-right {
    text-align: right;
  }

  .text-left {
    text-align: left;
  }

  a:hover {
    color: #6DB740;
  }

  .fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
  }

  .fb_iframe_widget {
    display: inline-block;
    position: relative;
  }

  .fb-comments {
    background: #fff;
  }

  .fb-comments, .fb-comments > span, .fb-comments > span > iframe {
    max-width: 100%;
    width: 100% !important;
  }

  .button-navbar .bar1, .button-navbar .bar2, .button-navbar .bar3 {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 3px;
  }

  .button-navbar.active {
    .bar1 {
      transform: rotate(-45deg) translate(-8px, 6px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: rotate(45deg) translate(-8px, -6px);
    }
  }

  .menu-mobile {
    transition: all 0.5s;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: $primary2;
    height: 60px;
    border-bottom: 1px solid #4a4a4a;

    .navbar-brand {
      height: 100%;
    }
  }


  .scrollTo {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    right: 2%;
    z-index: 1;
    cursor: pointer;
    background-color: #6DB740;
    position: fixed;
    bottom: 10%;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    border-radius: 50%;

    &.show {
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }
}

#mainnav-mobi {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 60px;
  left: 0;
  z-index: 999;
  padding: 0 35px;
  overflow-y: scroll;
  box-sizing: border-box;

  ul {
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 0;

    li {
      list-style: none;
      border-top: 1px solid #4a4a4a;
      position: relative;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        div {
          display: flex;
          justify-content: space-around;
          align-items: center;

          margin-bottom: 60px;

          a {
            margin: 20px 0;
            height: 35px;
            width: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            color: #fff;
            margin-right: 5px;
            border-radius: 10px;
            cursor: pointer;

            i {
              font-size: 18px;
            }

            &.yt {
              background: #F61C0D;
            }

            &.fb {
              background: #4267B2;
            }

            &.tw {
              background: #55ACEE;
            }

            &.te {
              background: #389CE9;
            }
          }
        }
      }

      a {
        position: relative;
        color: #1c1c1c;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        transition: .3s;
        display: flex;
        height: 60px;
        padding: 0 15px;
        align-items: center;

        &:hover {
          background: $primary;
        }
      }
    }

  }
}
